<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authentication mode="Forms" />
        <membership defaultProvider="OracleProvider" />
        <roleManager enabled="true" defaultProvider="SqlRoleManager" />
        <compilation debug="true" />
    </system.web>
</configuration>