body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.movie_thumb {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

h4.movie_title {
    height: 3em;
}

.movie_poster{
    width: 175px;
    height: 250px;
    display: inline-block;
}

.movie_poster_overview {
    width: 100%;
    max-height: 266px;
}

.movie_info p {
    display: inline-block;
    vertical-align: top;
}

img.kijkwijzer {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}

.floating-action {
    position: absolute;
    top: 20%;
    right: 25%;
}