<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <!-- Geweldige wachtwoorden! -->
    <add name="OraAspNetConString" connectionString="DATA SOURCE=localhost;PASSWORD=wachtwoord;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
      providerName="Oracle.DataAccess.Client" />
    <add name="ConnectionString2" connectionString="DATA SOURCE=localhost;PASSWORD=pathe;PERSIST SECURITY INFO=True;USER ID=PATHE"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Configure the Sql Membership Provider -->
    <authentication mode="Forms" >
      <forms loginUrl="login.aspx"
        name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="OracleProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="OracleProvider"
             type="Oracle.Web.Security.OracleMembershipProvider"
             connectionStringName="ConnectionString2"
             applicationName="Pathe"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="4"
             minRequiredPasswordLength="9"
             passwordAttemptWindow="8"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OracleRoleProvider">
      <providers>
        <clear/>
        <add name="OracleRoleProvider"
             type="Oracle.Web.Security.OracleRoleProvider"
             connectionStringName="ConnectionString2"
             applicationName="Pathe" />
      </providers>
    </roleManager>
  </system.web>
  <!-- Set page and folder permissions -->
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="GlobalAdmin,FilmAdmin,UserAdmin,BlogAdmin"/>

        <deny users="*"/>
      </authorization>

    </system.web>
  </location>
</configuration>